*{
    margin: 0px;
}

body, html{
    height: 100%;
    /* width: 1920px; */
}

body{
    background-color: #F9FAFD;
    font-family: Poppins, sans-serif;
}

body::-webkit-scrollbar{
  display: none;
}

.headerFlex{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 80dvh;
  margin: 0;
}

#title{
  color: #D62621;
  font-weight: 400;
  font-size: 350%;
  
}

.headerSection{
  padding: 5% 10%;
  font-family: 'Porter Sans Block';
  
}

#sub{
  font-weight: 800;
  font-size: 120%;
  color: #4e0082;
}

.landingDiv{
  
  background-image: url(../images/homePageHeader.jpeg);
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95dvh;
    
    padding: 1px;
}

nav{

    /* border-top: 2px solid black; */
    border-radius: 25px;
    background-color: rgba(238, 238, 238, 0.514);
    height: auto;
    align-items: center;
    margin: 1em 1em;
    padding: 10px;
}

.navContainer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 20px;
    /* padding: 10px;
    margin: 20px; */
    margin-bottom: 10px;
}

.navLinks{
    float: right;
    margin-bottom: 10px;
}

.navLinks a{
    padding: 5px;
    margin: 0px 10px;
    text-decoration: none;
    color: #1d272d;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid;
    border-color: #47112e00;
}

.navLinks a:hover{
    border-bottom: 3px solid;
    border-radius: 0px;
    transition: 300ms ease;
    transition-duration: 500ms;
    transition-delay: 5ms;
}

.navLinks a.active{
  color: #cc005f;
  font-weight: 600;
}

.logo{
    padding-left: 20px;
}

.searchContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 8px;
  margin-right: 5em;
  border-radius: 5px;
}

.search{
  padding-right: 1em;
  border-right: 1px solid;
}

.shoppingCart{
  margin-left: 5px;
  padding: 0px 5px 0px 5px;
  cursor: pointer;
  border-radius: 5px;
}

.shoppingCart:hover{
  background-color: #ece9e9;
  transition: 500ms ease;
}

nav .shoppingCart span{
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  position: absolute;
  padding: 2px 8.5px;
  top: 2.5em;
  left: 95%;
}

#searchBar{
  border: medium none !important;
  padding: 5px;
  background-color: #ffffff;
  color: #000;
}

#searchBar:focus{
  background-color: #ffffff;
  border: medium solid #ffffff;
}

header{
    
}

h2{
  text-transform: uppercase;
}


.section1Container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #4e0082;
  height: 1080px;
  padding: 2em;
  padding-left: 10%;
}

.section1Img{
  background-image: url(../Images/marsSliderClipped1.png);
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 200%;
  /* border: 1px solid lime; */
  border-radius: 40px;
  height: 100%; 
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 50px; */
  margin: 3em 2em 3em auto;
}

.left img, .right img{
  width: 17%;
  padding: 10px;
  background-color: #00000000;
  border-radius: 25px;
  display: flex;
}

.left img, .right img{
  width: 17%;
  padding: 10px;
  background-color: #00000000;
  border-radius: 25px;
  display: flex;
  border: 1px solid #00000000;
}

.left{
  justify-content: flex-start;
}

.right{
  justify-content: flex-end;
  /* margin-left: 550px; */
}

.right img{
  justify-content: flex-end;
}

.left img:hover, .right img:hover{
  background-color: rgba(145, 145, 145, 0.226);
  transition: 500ms ease;
  border-color: #ffffff64;
}

.section1Text{
  padding: 10px; 
  /* border: 1px solid red;  */
  margin: 5px 20px 5px 10%;
  padding-left: 20px;
  height: 1080px;
  padding-top: 20%;
}

.section1Text p{
  color: #F0f1ec;
  font-size: 22px;
  padding-right: 500px;
  margin-top: 50px;
}

.bookNow{
  display:block;
  color: #F0f1ec;
  background-color: #D62621;
  text-decoration: none;
  margin: 70px 70% 0px 0px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 30px;
  border: 1px solid #00000000;
  padding: 1em 5em 1em 5em;
}

.bookNow a{
  text-decoration: none;
  color: #F0f1ec;
}

.bookNow:hover{
  border-color: #F0f1ec;
  background-color: #b1211c;
  transition: 300ms ease;
  transition-duration: 600ms;
  transition-delay: 10ms;
}

.section2Container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: #b1211c; */
  height: 70dvh;
  padding: 7%;
  
}

.section2Text{
  float: left;
  margin-right: 10px;
  padding-right: 200px;
}

.section2Text p{
  font-size: 22px;
  margin-top: 50px;
  text-shadow: 1px -1px 10px rgba(0, 0, 0, 0.298);
}

.section2Img{
  float: right;
  width: 1864px;
  overflow-x: hidden;
}

.section2Img img{
  width: 100%;
  overflow-x: hidden;
}

.purple{
  color: #4e0082;
}

h4{
  color: #46d3fe;
  text-transform: uppercase;
  font-size: 25px;
}

h2{
  text-transform: uppercase;
  color:#F0f1ec;
  font-size: 40px;
  font-weight: 800;
}

.section1Img img{
  height: 100%;
  margin-left: 10%;
  margin-right: auto;
}

.bookingBtn{
  background-color: rgba(190, 144, 244, 0.372);
  border: 1px solid rgba(255, 255, 255, 0);
  color: #F0f1ec;
  margin-top: 2em;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.bookingBtn:hover{
  border: 1px solid rgba(255, 255, 255, 0.693);
  background-color: rgba(182, 128, 244, 0.449);
  color: #f4efdf;
  transition: 300ms ease;
  box-shadow: 5px 2px 30px #1e0131;
}

.mapContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.embededMap{
  float: right;
}


section{
  overflow-y: hidden;
}

#purpleBox{
  background-color: #4e0082;
}

.section3Container{
  display: block;
  justify-content: center;
  background-color: #4e0082;
  padding: 2em;
  padding-top: 30px;
  overflow-x: hidden;
}

.section3Heading{
  justify-content: center;
  align-items: center;
}


.section3Flex{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;
}

.section3Flex dd{
  color:  #F0f1ec;
}

.section3Flex img{
  height: 600px;
  padding-top: 30px;
}

.section3Flex h3{
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 15px;
}

#lastBtn{
  margin-right: 45%;
  margin-left: 43%;
  margin-bottom: 30px;
  width: 320px;
  padding: 30px 0 30px 0;
}


.footerContainer{
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  padding: 2em 4em 2em 4em;
  margin: 2em 4em;

}


.socialFlex{
  display: flex;
  justify-content: center;
  align-content: center;
}

.insta img, .twitter img, .tiktok img, .facebook img{
  width: 80px;
  padding: 10px;
}

.insta img:hover, .twitter img:hover, .tiktok img:hover, .facebook img:hover{
  filter: opacity(80%);
  transition: 200ms ease;
}

.footerRight{
  margin-left: 20%;
}

.footerLeft{
  padding: 30px 0 0 50px;
  margin-top: 50px;
}


footer dt{
  font-weight: 700;
  margin-bottom: 30px;
}

footer a{
  text-decoration: none;
  color: #000;
}

.footerCenter dd{
  padding: 10px;
}

.footerCenter{
  width: 300px;
}

.terms{
  display: flex;
  justify-content: space-between;
  align-content: first baseline;
  height: 300px;
  border-top: 3px solid rgba(74, 74, 74, 0.634);
  margin: 0 7% 0 7%;
  color: #848484;
  padding: 30px 10px;
}

.footerCenter a:hover{
  color: #adadad;
  transition: 300ms ease;
}

















@media (max-width:600px){
  .navContainer{
      flex-direction: column;
  }
  .landingDiv{
    flex-direction: column;
  }
  .section1Container{
    flex-direction: column;
  }
  .section2Container{
    flex-direction: column;
  }
  .section2Img{
    flex-direction: column;
  }
  .section1Img{
    flex-direction: column;
  }

  .section3Container{
    flex-direction: column;
  }
  .section3Flex img{
    flex-direction: column;
  }
  footer{
    flex-direction: column;
  }
}









































































































.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

@font-face {
    font-family: 'Porter Sans Block';
    src: url(../Fonts/porter-sans-inline-block-webfont.woff) format("woff");
}
