html{
    scroll-behavior: smooth;
}


body{
    background-color: rgb(61, 26, 36);
}
body::-webkit-scrollbar{
    display: none;
}


h1{

}
h2{

}
h3{

}


nav{

}

.navdiv{
    background-color: rgb(90, 43, 62);
    height: 10dvb;
    border-radius: 50px;
}