*{
    margin: 0px;
    overflow: hidden;
}

body, html{
    height: 100%;
}

body{
    background-color: #1e0f17;
    background-image: url(../Images/formBack.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    border: 2px solid;
    border-color: #69696979;
    border-radius: 20px;
    background-color: #B03477;
    margin: 1em 1em;
}

.navContainer{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px;
}

.navLinks{
    float: right;
}

.navLinks a{
    padding: 10px;
    margin: 0px 5px;
    text-decoration: none;
    color: #F0f1ec;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    background-color: #a761865c;
    border-radius: 20px;
    border: 1px solid;
    border-color: #47112e00;
}

.navLinks a:hover{
    border: 1px solid;
    border-color: #c978a3;
    background-color: #74204d76;
    transition: 300ms ease;
}

.logo{
    float: left;
}

header{
    
}

.headerContainer{
    margin: 4em 2em 1em 2em;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #574663c8;
    border-radius: 10px;
    border: 1.5px solid rgba(255, 255, 255, 0.693);
    padding: 7px;
}

.headerText{
    margin-right: 10%;
    color: #F0f1ec;
    padding: 2em;
}

.headerImg{
    box-shadow: 100px -50px 200px #2F004E;
}


.headerImg img{
    box-shadow: 0px 50px 200px #2F004E;
}





























































































































.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  